.task {
  margin: 0 auto;
  height: 500px;
  width: 1000px;
  background-color: green;
  background-image: url(https://png.pngtree.com/png-clipart/20210527/ourlarge/pngtree-house-village-png-image_3370854.jpg),
    url(https://www.freeiconspng.com/uploads/lamp-png-0.png),
    url(https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png),
    url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/Ёжик.png/revision/latest?cb=20180209130328&path-prefix=ru);
  background-position: center, top, bottom, left, right;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 200px, 30px, 200px, 40px, 40px;
}
